@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is my .NET III Final Project. It is built upon projects from SQL and .NET II. 
    I originally had a way for Employees to add their availability, but after consideration and real world experience, realized this should be in a second app.
    As such I did not include it, but most of the features from the .NET II project did make their way into this one.</p>
