@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Somewhere Near The Corn<br />
    Coralville IA, 52241<br />
    <abbr title="Phone">P:</abbr>
    123.456.7890
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:K0749583@kirkwood.student.com">K0749583@kirkwood.student.com</a><br />
    <strong>Business Interests:</strong> <a href="mailto:K0749583@kirkwood.student.com">K0749583@kirkwood.student.com</a>
</address>