@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Imagine Park</h1>
    <p class="lead">Imagine Park is an Imaginary State Park Located in Your Imagination.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our Purpose</h2>
        <p>
            Imagine Park started out as a database project to get practice on MySQL. It was then adapted to T-SQL and a WPF application. It has now become an MVC Web Application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more features</h2>
        <p>This is certainly a project that I may iterate more on for my portfolio.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Puppy</h2>
        <p>This is a Puppy</p>
        <img src="~/Images/Vogue.jpg" alt="Vogue.jpg" width="400" height="300"/>
    </div>
</div>